$blue-color : #0082c5;
$red-color: #b74545;
$orange-color: #ffa200;
$gray-color: #7f7f7f;

/* layout */

$ancho : 960px;

$medium : screen and (min-width:768px);
$large : screen and (min-width:1024px);